<div class="pure-g center">
  <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-4" style="margin-top: 10px; padding: 0 10px">
    <mat-form-field class="pure-u-1-2" >
      <input matInput placeholder="Firstname">
    </mat-form-field>
    <mat-form-field class="pure-u-1-2">
      <input matInput placeholder="Lastname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Login">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm password">
    </mat-form-field>
    <div class="input-group">
      <a mat-stroked-button color="primary" routerLink="/login" style="float: left;">Sign in</a>
      <button mat-flat-button color="primary" style="float: right;" >Register</button>
    </div>
  </div>
</div>
