.icon{
  position:absolute;
  color: white;
  top:10px;
  display: block;
}
.icon:hover{
  color: #696969;
}


.menu-containter{
  position: absolute;
  left:0;
  right:0;
  top:40px;
  bottom: 0;
  z-index: 100;
  //visibility: hidden;

}
