

<mat-sidenav-container style="height: 100vh">
  <mat-sidenav opened mode="over" [(opened)]="isLeftMenuOpened" >
    <mat-nav-list>
      <mat-list-item>
        <a matLine >About</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine >Terms</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine >Settings</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a matLine (click)="toogleLeftMenu()">Back</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav opened mode="over" position="end" [(opened)]="isRightMenuOpened">
    <mat-nav-list>
      <mat-list-item>
        <a matLine>Your profile</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine >Your payments</a>
      </mat-list-item>
      <mat-list-item>
        <a matLine >Your points</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a matLine (click)="logout()">Logout</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a matLine (click)="toogleRightMenu()">Back</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div *ngIf="showHeading()" class="pure-u-1 heading">
    <a class="icon" style="left: 10px;" (click)="toogleLeftMenu()" >
      <fa-icon icon="cogs" size="lg"></fa-icon>
    </a>
    <a class="icon" style="left: calc(50vw - 12px);right: calc(50vw - 12px);" (click)="openMap()">
      <fa-icon icon="map" size="lg"></fa-icon>
    </a>
    <a class="icon" style="right: 10px;" (click)="toogleRightMenu()">
      <fa-icon icon="user" size="lg"></fa-icon>
    </a>
  </div>
  <div style="height: calc(100% - 41px)">
    <router-outlet ></router-outlet>
  </div>
</mat-sidenav-container>


