<div class="pure-g center">
  <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-4" style="margin-top: 200px; padding: 0 10px">
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password">
    </mat-form-field>
    <div class="input-group">
      <a mat-stroked-button color="primary" routerLink="/register" style="float: left;">Register</a>
      <button mat-flat-button color="primary" style="float: right;" (click)="login()">Sign in</button>
    </div>
  </div>
</div>
