
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pup-primary: mat-palette($mat-cyan);
$pup-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pup-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pup-theme: mat-light-theme($pup-primary, $pup-accent, $pup-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pup-theme);

/* You can add global styles to this file, and also import other style files */
@import '~node_modules/purecss-sass/vendor/assets/stylesheets/purecss';

@font-face {
  font-family: josefin;
  src: url("assets/fonts/JosefinSans-Regular.ttf") format("truetype");
}

.center {
  display: flex;
  justify-content: center;
}

.input-group {
  margin: 10px 0 10px 0;
}
p, span, h1, h2,h3,h4,h5,h6, label{
  color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: josefin; }

mat-form-field{
  width: 100%;
}

.heading{
  background: rgb(255,99,71);
  background: linear-gradient(270deg, rgba(255,99,71,1) 0%, rgba(105,105,105,1) 35%, rgba(64,224,208,1) 100%);
  height: 40px;
}
hr{
  color: gray;
}
